{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">Editing Image: {{image.id}} </h1>

{% include 'Images/_form.twig'  %}

{% endblock %}
