{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">All Images </h1>

<ul class="center">
    {% for image in images %}
    <li>
    <a a href="/images/{{image.id}}">#{{image.id}} -- <strong>{{image.name}}</strong>
    </a>
    </li>
    {% endfor %}
</ul>

<p class="center">
    <a a href="/images/new">Create a new Image</a>
</p>

{% include 'partials/_footer.twig' %}

{% endblock %}