<html>
  <head>
    
    <title>Star Tracker Library</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
  </head>
  <body>
{% include 'partials/_header.twig' %}
    <main> 
        {% block main_content %}

        {% endblock %}
    </main>
 {% include 'partials/_footer.twig' %}
   


  </body>
   
</html>