<!DOCTYPE html>
<html>
  <head>
    
    <title>Star Tracker Library</title>
    
  </head>
  <body>
{% include 'partials/_header.twig' %}
    <main> 
        {% block main_content %}

        {% endblock %}
    </main>
 {% include 'partials/_footer.twig' %}
   


  </body>
   
</html>