{% extends '_layout.twig' %}

{% block main_content %}

<h1>Welcome to Star Tracker Library</h1>

<a href="/galaxies">View Galaxies</a>

<a href="/stars">View Stars</a>

<a href="/planets">View Planets</a>

{% endblock %}