{% extends '_layout.twig' %}

{% block main_content %}

<h1 class="center" >Welcome to Star Tracker Library</h1>

<h3 class="center"> Come and explore Space from the confort of your own home! Take a look at what we've captured so far and feel free to add your favorite Galaxy, Star, or Planet!</h3>
<div class="center">

{% include 'partials/_footer.twig' %}

</div>

{% endblock %}