{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">Editing Planet: {{planet.name}} </h1>

{% include 'Planet/_form.twig'  %}

{% endblock %}
