{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">All Planets </h1>

<ul class="center">
    {% for planet in planets %}
    <li>
    <a a href="/planets/{{planet.id}}">#{{planet.id}} -- <strong>{{planet.name}}</strong>
    </a>
    </li>
    {% endfor %}
</ul>

<p class="center">
    <a a href="/planets/new">Create a new Planet</a>
</p>

{% include 'partials/_footer.twig' %}   

{% endblock %}