{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">Editing Galaxy: {{galaxy.name}} </h1>

{% include 'Galaxy/_form.twig'  %}

{% endblock %}
