{% extends '_layout.twig' %}

{% block main_content %}

<h1>All Galaxies </h1>

<ul>
    {% for galaxy in galaxies %}
    <li>
    <a a href="/galaxies/{{galaxy.id}}">#{{galaxy.id}} -- <strong>{{galaxy.name}}</strong>
    </a>
    </li>
    {% endfor %}
</ul>

<p>
<a a href="/galaxies/new">Create a new Galaxy</a>

</p>

{% endblock %}