{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">All Galaxies </h1>

<ul class="center">
    {% for galaxy in galaxies %}
    <li class="center">
    <a a href="/galaxies/{{galaxy.id}}">#{{galaxy.id}} -- <strong>{{galaxy.name}}</strong>
    </a>
    </li>
    {% endfor %}
</ul>

<p class="center">
    <a a href="/galaxies/new">Create a new Galaxy</a>
</p>

{% include 'partials/_footer.twig' %}

{% endblock %}