{% extends '_layout.twig' %}

{% block main_content %}

<h1>#{{galaxy.id}} -- <strong>{{galaxy.name}}</strong> </h1>


<p>

<a href="/galaxies/{{ galaxy.id }}/edit">Edit this galaxy</a>

<a href="/galaxies/{{ galaxy.id }}/delete">Delete this galaxy</a>

</p>

{% endblock %}