{% extends '_layout.twig' %}

{% block main_content %}

{% include 'partials/_header.twig' %}

<h1 class="center">All Stars </h1>

<ul class="center">
    {% for star in stars %}
    <li>
    <a a href="/stars/{{star.id}}">#{{star.id}} -- <strong>{{star.name}}</strong>
    </a>
    </li>
    {% endfor %}
</ul>

<p class="center">
    <a a href="/stars/new">Create a new Star</a>
</p>

{% include 'partials/_footer.twig' %}

{% endblock %}